<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>
<body>

<div class="container mt-5 col-3">

    <form th:action="@{/register/save}" th:object="${clientAccount}" method="post">

        <h3 class="text-center">Edit Form</h3>

        <!--Filed for errors -->
<!--        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">There are errors</div>-->

        <!--Filed for login -->
        <div class="form-group m-3">
            <input type="text" th:field="*{login}" placeholder="Login" class="form-control"/>
<!--            <span class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>-->
        </div>

        <!--Filed for email -->
        <div class="form-group m-3">
            <input type="text" th:field="*{email}" placeholder="Email" class="form-control" required/>
<!--            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
        </div>

        <!--Filed for password -->
        <div class="form-group m-3">
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
<!--            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
        </div>

        <!--Filed for confirmPassword -->
        <div class="form-group m-3">
            <input type="password" th:field="*{confirmPassword}" placeholder="Confirm password"
                   class="form-control"/>
<!--            <span class="error" th:if="${passwordMathProblem}" th:text="${passwordMathProblem}"></span>-->
        </div>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <div class="form-group m-3">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>

        <p class="text-center">
            Click <a th:href="@{/profile}">here</a> to cancel.
        </p>
    </form>
</div>

</body>
</html>