<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>
<body>
<div align="center">
    <h1>Search friend</h1>
    <div class="col-sm-4">


        <form th:action="@{/find/result}" method="post" th:object="${client}">

            <input type="hidden" th:field="${currentClientId}">

            <input th:field="*{userName}" type="text" class="form-control" placeholder="User name">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Find friends</button>

        </form>

        <div class="form-group m-3">
            <a th:href="@{'/profile/show/' + ${currentClientId}}" class="btn btn-primary btn-block">Back</a>
        </div>
    </div>

</div>

</body>
</html>