<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<table class="table">

    <input type="hidden" th:field="${currentClientId}">
    <thead>
    <tr>
        <th scope="col">Login</th>
        <th scope="col">User name</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="friend : ${friendsList}" th:if="${friendsList != null}">
        <td th:text="${friend.login}"/>
        <td th:text="${friend.userName}"/>
        <td th:text="${friend.email}"/>
        <td>
            <a th:href="@{'/client/remove/' + ${friend.id}}" class="btn btn-info btn-sm">remove</a>
        </td>
    </tr>


    </tbody>
</table>
<div class="form-group m-3">
    <a th:href="@{'/profile/show/' + ${currentClientId}}" class="btn btn-secondary btn-block">Back</a>
</div>
</body>
</html>