<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>
<body>

<div class="container mt-5 col-3">

    <form th:action="@{/login}" method="post" class="form-signin" th:object="${client}">

        <!--Filed for login -->
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" >Login</span>
            <input type="text" th:field="*{login}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <!--Filed for password -->
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" th:field="*{password}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="form-label-group m-3">
            <button type="submit" class="btn btn-secondary btn-block fadeIn fourth">Log in</button>
        </div>

        <p class="text-center">
            Click <a th:href="@{/register/new}">here</a> to register.
        </p>
    </form>
</div>

</body>
</html>