<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>
<body>

<div class="container mt-5 col-3">

    <form th:action="@{/login}" method="post" class="form-signin" th:object="${client}">

        <div class="form-label-group m-3">
            <label>Login</label>
            <input type="text" th:field="*{login}" name="login" id="login" class="form-control fadeIn second"/>
        </div>

        <!--Filed for password -->
        <div class="form-label-group m-3">
            <label>Password</label>
            <input type="password" th:field="*{password}" name="password" id="password" class="form-control fadeIn second"/>
        </div>

        <div class="form-label-group m-3">
            <button type="submit" class="btn btn-primary btn-block fadeIn fourth">Log in</button>
        </div>

        <p class="text-center">
            Click <a th:href="@{/register/new}">here</a> to register.
        </p>
    </form>
</div>

</body>
</html>