<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<div class="container mt-5 col-3">

    <form th:action="@{/register/save}" th:object="${client}" method="post">

        <h3 class="text-center">Registration Form</h3>

        <!--Field for login -->
        <div class="form-group m-1">
            <span class="input-group-text" >Login</span>
            <input type="text" th:field="*{login}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="${client.login}"></span>
        </div>

        <!--Field for name -->
        <div class="form-group m-1">
            <span class="input-group-text">Name</span>
            <input type="text" th:field="*{userName}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="${client.userName}"></span>
        </div>

        <!--Field for email -->
        <div class="form-group m-1">
            <span class="input-group-text">Email</span>
            <input type="text" th:field="*{email}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="${client.email}"></span>
        </div>

        <!--Field for password -->
        <div class="form-group m-1">
            <span class="input-group-text">Password</span>
            <input type="password" th:field="*{password}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="${client.password}"></span>
        </div>

        <!--Field for confirmPassword -->
        <div class="form-group m-1">
            <span class="input-group-text">Confirm password</span>
            <input type="password" th:field="*{confirmPassword}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <div class="form-group m-1">
            <button type="submit" class="btn btn-secondary btn-block">Register User</button>
        </div>
        <p class="text-center">
            Click <a th:href="@{/login}">here</a> to login.
        </p>

    </form>
</div>

</body>
</html>